NODE_ENV=
PORT=
MONGO_URI=
DEBUG=
SALT_ROUNDS=
JWT_SECRET=
JWT_TEMP_SECRET=
JWT_REFRESH_SECRET=
JWT_RESET_PASSWORD_SECRET=
JWT_VERIFICATION_SECRET=
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_HOST_USER=
MAIL_HOST_PASS=

OTP_SECRET=
OTP_EXPIRATION=
WEB_URL=

REDIS_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
 
CLOUDINARY_FOLDER=
CLOUDINARY_SIGNED_URL_EXPIRATION=

CLOUDINARY_BUCKET_WINDOW_BUFFER=
CLOUDINARY_BUCKET_WINDOW_EXPIRATION=